body {
    background-color: black;
    font-family: "Lucida Console", Monaco, monospace;
}


/*ID*/

#directions-box {
    height: 25px;
} 

#directions-text {
    color: #68CEB3;
}

#word-answer-text {
    color: 	#FFFF66;
    line-height: 8em;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 1.75em;
    /* display: table-cell;
    vertical-align: bottom; */
}


#letter-text {
    color: 	#68CEB3;
    line-height: 4em;
    border-color: #68CEB3;
    text-transform: uppercase;
}


#wins-text {
    color: #68CEB3;
}

#losses-text {
    color: #68CEB3;
}

#insult-div {
    color: #68CEB3;
}